<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Leaf Template IL creator</title>
    <!-- Stylesheets -->
    <link type="text/css" rel="stylesheet" href="/styles/reset.css" />
    <link type="text/css" rel="Stylesheet" href="/styles/typography.css" />
    <!-- Leaf scripts -->
    <script type="text/javascript" src="../../scripts/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="../../scripts/leaf.core.js"></script>
    <script type="text/javascript" src="../../scripts/leaf.template.js"></script>
    <script type="text/javascript" src="leaf.template.create.js"></script>
    <script type="text/javascript">

        alert(leaf.template.create('<p>hello</p>'));

    </script>
</head>
<body>
    HTML
    <textarea cols="80" rows="20" id="txtSource"></textarea>
    <br />
    <textarea cols="80" rows="20" id="txtOutout" style="display: none"></textarea>
</body>
</html>
